name: teste
description: "A new Flutter project."

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ^3.5.3

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  flutter_appauth: ^9.0.0
  flutter_secure_storage: ^9.2.4
  http: ^1.3.0
  url_launcher: ^6.3.2
  intl: ^0.20.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
  fonts:
        - family: Gilroy
          fonts:
            - asset: assets/fonts/Gilroy-ExtraBold.otf # Path to your font file
              weight: 600
            - asset: assets/fonts/Gilroy-Light.otf
              weight: 300
              

           

